html, body {
	height: 100%;
	padding: 0;
	margin: 0;
    font-family: Arial;
	background: #903C3C;
}
h3,h2 {
		color:white;
		text-align: center;
}
h3 {
	padding-top: 500px;	
	font-size: 100px;
}

textarea {
	font-size:18px;
	
	width: 90%;
    height: 400px;
	margin-left: 5%;
	margin-right: 5%;
	
	resize: none;
	
}

#question {
	padding-top: 50px;	
	font-size: 30px;
	/*text-align: center;*/
	color:white;
}

.questionDivClass {
	width: 100%; 
	height: 25%;
}

.studentResultsDivClass {
	width: 100%;
	height: 50;
}

#gradeInput {
	margin-left: 5%;	
}
#gradePara {
	font-size: 30px;
	color:white;
}

/*.gradeDivClass {
	width: 100%;
	height: 50%;
}*/



.commentsDivClass {
	width: 100%;
	height: 50%;
}

#commentsPara {	
	padding-top: 20px;
	font-size: 30px;
	color:white;
	/*text-align: center;*/
}