html, body {
	height: 100%;
	padding: 0;
	margin: 0;
    font-family: Arial;
	background: #903C3C;
}
h3,h2 {
		color:white;
		text-align: center;
}
h3 {
	padding-top: 500px;	
	font-size: 100px;
}

#response{
	text-align:center;
	font-size: 35px;
}

#goBack {
	margin: 0px 0px 0px 0px;
}

#submitButton {
	margin: 0px 0px 0px 0px;
}

#goBack, #submitButton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 18px 36px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 21px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
#goBack:hover, #submitButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
#goBack:active, #submitButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
