html, body {
	height: 100%;
	padding: 0;
	margin: 0;
    font-family: Arial;
	background: #903C3C;
}
h3,h2 {
		color:white;
		text-align: center;
}

label {
	color:white;	
}

.answers{
	padding-left:2em;
}

/* Makes the input tags have rounded corners */
input {
	border-radius: 7px 7px 7px 7px ;
}

/* Handles css for top left portion */
.topLeft { 
	width: 48%; 
	height: 50%; 
	float: left;
	border:1px solid black;
	padding-left: 25px;
	overflow: auto;
}
/* Handles css for top right portion */
.topRight { 
	width: 50%; 
	height: 50%; 
	float: left;
	border:1px solid black;
	padding-left: 5px;
	overflow: auto;
}
/* Handles css for bottom portion */
.bottom {
	height: 50%;
	width: 100%;
	float: left;
}







#goBack {
	margin-right: 1200px;
}

#submitButton {
	margin: 0px 0px 0px 0px;
}

#goBack, #submitButton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 18px 36px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 21px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
#goBack:hover, #submitButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
#goBack:active, #submitButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }