html, body {
	height: 100%;
	padding: 0;
	margin: 0;
    font-family: Arial;
	background: #448ed3;
}
h3,h2 {
		text-align: center;
}

.answers{
	padding-left:2em;
}

/* Makes the input tags have rounded corners */
input {
	border-radius: 7px 7px 7px 7px ;
}

/* Handles css for top left portion */
.topLeft { 
	width: 48%; 
	height: 50%; 
	float: left;
	border:1px solid black;
	padding-left: 25px;
	overflow: auto;
}
/* Handles css for top right portion */
.topRight { 
	width: 50%; 
	height: 50%; 
	float: left;
	border:1px solid black;
	padding-left: 5px;
	overflow: auto;
}
/* Handles css for bottom portion */
.bottom {
	height: 50%;
	width: 100%;
	float: left;
}